@import "../../Page/Page.scss";

@keyframes preloader-inside-white {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

@keyframes preloader-inside-red {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    30% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto 0;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0%;
    left: 0%;
    background: rgba(255, 255, 255, 0.8);
}

.preloaderContainer {
    width: 100px;
    height: 100px;
    position: relative;
}

.preloaderRound {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background: $MainAccent;
    border-radius: 50px;
}

.preloaderRound::after,
.preloaderRound::before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
}

.preloaderRound::after {
    background: white;
    animation: preloader-inside-white 1s ease-in-out infinite;
}

.preloaderRound::before {
    z-index: 10;
    background: $MainAccent;
    animation: preloader-inside-red 1s ease-in-out infinite;
}
