@import "../../../Common/Page/Page.scss";
.popupMenu {
    display: none;
    position: fixed;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // background: rgba(255, 255, 255, 0.9);
    // z-index: 4;

    // display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto 0;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0%;
    left: 0%;
    background: rgba(255, 255, 255, 0.9);
}

.container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 405px;
    max-width: 405px;
    margin: auto;
    position: relative;
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        margin: auto;
    }
    @media screen and (min-width: 0) and (max-width: 767px) {
        margin: auto;
        min-width: 320px;
        max-width: 320px;
    }
}
.crossButton {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 1;
    cursor: pointer;
    background-color: inherit;
    border: none;
    padding: 0;
    :hover path {
        stroke: #0ec261;
    }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        margin-left: 17px;
        margin-top: 28px;
    }
    @media screen and (min-width: 0) and (max-width: 767px) {
        margin-left: 20px;
        margin-top: 20px;
    }
}

.wrapper {
    
    min-width: calc(100% - 688px);
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1441px) {
        min-width: calc(100% - 48%);
    }

    @media screen and (min-width: 1024px) and (max-width: 1200px) {
        min-width: calc(100% - 410px);
    }

    @media screen and (min-width: 1201px) and (max-width: 1438px) {
        min-width: calc(100% - 608px);
    }
    @media screen and (min-width: 0) and (max-width: 1023px) {
        min-width: 100%;
    }
}

.wrapperOrder {
    @extend .wrapper;
    min-width: 100%;
    position: relative;
}
// .button {
//     background-color: inherit;
//     cursor: pointer;
//     border: none;
//     padding: 0;
//     max-width: 99%;
//     display: none;
//     @media screen and (min-width: 0) and (max-width: 767px) {
//         display: block;
//         flex: 0 0 auto;
//         align-self: flex-start;
//         margin-left: 12px;
//         margin-bottom: 12px;
//     }
//     :hover path {
//         stroke: #0ec261;
//     }
// }
.buttonGreen {
    @extend .button;
    @include green-text;
    @include hover-circle;
    width: 48px;
    height: 48px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
}

.active {
    @extend .popupMenu;
    display: flex;
}

.containerTitle {
    margin: 24px 24px 32px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    @media screen and (min-width: 0) and (max-width: 767px) {
        margin: 24px 10px 32px;
        font-size: 20px;
        line-height: 24px;
    }
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 24px 24px;
    @media screen and (min-width: 0) and (max-width: 767px) {
        margin: 0 10px 32px;
    }
}

.button {
    color: $GrayLight;
    background-blend-mode: darken;
    border-radius: 8px;
    padding: 15px 11px;
    cursor: pointer;
    max-width: 177px;
    min-width: 177px;
    outline: none;
    border: none;
    @media screen and (min-width: 0) and (max-width: 767px) {
        max-width: 140px;
        min-width: 140px;
        font-size: 12px;
        line-height: 14px;

    }
}

.confirmButton {
    @extend .button;
    @include hover-button;
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
}

.cancelButton {
    @extend .button;
    @include hover-button_red;
    background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
}
