@import "../../../Common/Page/Page.scss";

.point {
    flex: 1 0 auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    @include black-text;
    align-self: flex-end;
    @media screen and (min-width: 321px) and (max-width: 767px) {
        font-size: 12px;
        line-height: 14px;
    }
    @media screen and (min-width: 0px) and (max-width: 320px) {
        font-size: 10px;
        line-height: 12px;
    }

}

.text {
    // inline-size: 150px;
    // overflow-wrap: break-all;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    flex: 1 0 auto;
    color: #999999;
    margin: 0;
    text-align: right;
    white-space: pre-line;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 14px;
        line-height: 16px;
        max-width: 150px;
    }
    @media screen and (min-width: 321px) and (max-width: 767px) {
        font-size: 12px;
        line-height: 14px;
    }
    @media screen and (min-width: 0px) and (max-width: 320px) {
        font-size: 10px;
        line-height: 12px;
    }
    
}

.textLowerFont {
    @extend .text;
    white-space: pre-line;

    font-size: 12px;
    line-height: 14px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 10px;
        line-height: 12px;
        max-width: 150px;
    }
    @media screen and (min-width: 0px) and (max-width: 320px) {
        font-size: 10px;
        line-height: 12px;
    }
}
.textPart {
    @extend .text;
    margin: 0;
    white-space: pre-line;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 12px;
        line-height: 14px;
    }
    @media screen and (min-width: 0px) and (max-width: 320px) {
        font-size: 10px;
        line-height: 12px;
    }
}

.pointContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    max-width: 287px;
    &:last-of-type {
        margin-bottom: 32px;
        @media screen and (min-width: 0px) and (max-width: 767px) {
            margin-bottom: 16px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        min-width: 10px;
        display: flex;
        flex-direction: row;
        // max-width: 100%;
    }
    @media screen and (min-width: 0px) and (max-width: 550px) {
        margin: 0 auto 15px;
        
    }
    @media screen and (min-width: 551px) and (max-width: 767px) {
        align-self: center;
        margin: 0 auto 16px;
    }
}

.dots {
    margin: 0 12px 0;
    flex: 0 1 auto;
    min-width: 12px;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    align-self: flex-end;
    @media screen and (min-width: 0) and (max-width: 1023px) {
        font-size: 10px;
        line-height: 12px;
    }
}

.dots::before {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;

    content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 10px;
        line-height: 12px;
    }
}
