@import "../../Common/Page/Page.scss";

.locationForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    position: relative;

    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        // margin: 0 auto 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        justify-content: space-between;
    }
    @media screen and (min-width: 426px) and (max-width: 767px) {
        flex-direction: column;
    }

    @media screen and (min-width: 0px) and (max-width: 425px) {
        flex-direction: column;
    }
}

.locationContainer {
    padding: 26px 0 48px;
    // padding-right: 192px;
    // border-right: 1px solid #eeeeee;
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        //    padding-right: 1%;
    }
    @media screen and (min-width: 0px) and (max-width: 767px) {
        padding: 10px 0 0;
        // height: calc(100% - 10px);
        max-width: 100%;
        border-right: none;
    }
}

.formButton {
    @include white-text;
    @include hover-button;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    max-width: 287px;
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
    border: none;
    cursor: pointer;
    background-blend-mode: darken;
    border-radius: 8px;
    padding: 15px 11px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        min-width: 100%;
    }
    @media screen and (min-width: 0) and (max-width: 425px) {
        min-width: calc(100vw - 10px);
        border-radius: 0px;
        align-self: center;
        font-size: 12px;
        line-height: 14px;
        padding: 10px 6px;
    }
    @media screen and (min-width: 426px) and (max-width: 767px) {
        padding: 10px 6px;
        min-width: 100%;
        border-radius: 8px;
        margin: 0 16px 10px;
        align-self: center;
        font-size: 12px;
        line-height: 14px;
    }
}

.formButtonDisabled {
    @extend .formButton;
    // @include hover-with-opacity;
    background: #eeeeee;
    border-radius: 8px;
    cursor: default;
    &:hover {
        background: #eeeeee;
        opacity: inherit;
    }
}

.mapTitle {
    @include black-text;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    margin: 32px 0 16px;
    @media screen and (min-width: 0px) and (max-width: 767px) {
        display: none;
    }
}

.mapTitleMobile {
    @extend .mapTitle;
    @media screen and (min-width: 0px) and (max-width: 767px) {
        display: inline-block;
        margin: 32px 16px 16px;
        justify-self: center;
        font-size: 12px;
        line-height: 14px;
        // display: none;
    }
}

.submitMobileContainer {
    display: none;
    @media screen and (min-width: 0px) and (max-width: 767px) {
        display: none;
        position: absolute;
        bottom: 0%;
        padding: 0;
        z-index: 2;
        background-color: white;
        min-width: calc(100vw - 10px);
        max-width: 95%;
        padding: 5px;
    }
}

.submitMobileContainerActive {
    @extend .submitMobileContainer;
    display: none;
    @media screen and (min-width: 0px) and (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}
.pointContainer {
    display: flex;
    margin-bottom: 32px;
    @media screen and (min-width: 0px) and (max-width: 767px) {
        margin-bottom: 15px;
    }
}

.point {
    flex: 1 0 auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    @include black-text;
    align-self: flex-end;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 12px;
        line-height: 14px;
    }
}

.text {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    flex: 1 0 auto;
    color: #999999;
    word-wrap: break-word;
    margin: 0;
    text-align: right;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 12px;
        line-height: 14px;
    }
}

.textPart {
    @extend .text;
    margin: 0;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 12px;
        line-height: 14px;
    }
}

.pointContainer {
    overflow: hidden;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        min-width: 10px;
        display: flex;
        flex-direction: column;
    }
    @media screen and (min-width: 0px) and (max-width: 767px) {
        margin-bottom: 15px;
    }
}

.dots {
    flex: 0 1 auto;
    min-width: 30px;
    max-width: 75px;
    align-self: flex-end;
    @media screen and (min-width: 0) and (max-width: 1023px) {
        font-size: 10px;
        line-height: 12px;
        display: none;
    }
}

.dots::before {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
