@import "../../Common/Page/Page.scss";

.extraForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto 0 0;
    min-width: 500px;
    height: 100%;
    position: relative;

    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        // margin-top: 10px;
        margin: 0 auto 0 0;
        // min-width: calc(100vw - 64px - 64px);
        // max-width: calc(100vw - 64px - 64px);
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin: 0 16px 0;
        // min-width: calc(100vw - 86px - 32px);
        justify-content: flex-start;
        flex-direction: column;
    }

    // @media screen and (min-width: 550px) and (max-width: 767px) {
    //     padding: 0;
    //     min-width: calc(100vw - 32px);
    //     max-width: calc(100vw - 32px);
    // }
    @media screen and (min-width: 0px) and (max-width: 767px) {
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        // justify-content: center;
        min-width: 100vw;
        max-width: 100vw;
    }
}

.formButton {
    @include white-text;
    @include hover-button;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    max-width: 287px;
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
    border: none;
    cursor: pointer;
    background-blend-mode: darken;
    border-radius: 8px;
    padding: 15px 11px;
    @media screen and (min-width: 0) and (max-width: 425px) {
        min-width: calc(100vw - 10px);
        border-radius: 0px;
        align-self: center;
        font-size: 12px;
        line-height: 14px;
        padding: 10px 6px;
    }
    @media screen and (min-width: 426px) and (max-width: 549px) {
        padding: 10px 6px;
        min-width: 100%;
        border-radius: 8px;
        margin: 0 16px 10px;
        align-self: center;
        font-size: 12px;
        line-height: 14px;
    }

    @media screen and (min-width: 550px) and (max-width: 767px) {
        min-width: 55%;
        align-self: center;
        font-size: 12px;
        line-height: 14px;
        margin: 0 16px 10px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        min-width: 100%;
    }
}

.formButtonDisabled {
    @extend .formButton;
    // @include hover-with-opacity;
    background: #eeeeee;
    border-radius: 8px;
    cursor: default;
    &:hover {
        background: #eeeeee;
        opacity: inherit;
    }
}

.extraContainer {
    margin: 0;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 0) and (max-width: 767px) {
        max-width: calc(100% - 32px);
        min-width: calc(100% - 32px);
        margin: 0 auto 0;
    }
}

.radioContainer {
    display: flex;
    flex-direction: row;
    @media screen and (min-width: 0) and (max-width: 767px) {
        flex-wrap: wrap;
    }
}

// .checkContainer {
//     display: flex;
//     flex-direction: column;
// }

.containerTitle {
    color: $MainBlack;
    margin: 0 0 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    @media screen and (min-width: 0) and (max-width: 424px) {
        font-size: 10px;
        line-height: 12px;
        margin: 0 0 10px;
    }
    @media screen and (min-width: 425px) and (max-width: 767px) {
        font-size: 12px;
        line-height: 14px;
        margin: 0 0 10px;
    }
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0;
    @media screen and (min-width: 0) and (max-width: 767px) {
        margin: 10px 0 0;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin: 16px 0 0;
    }
}

.radioContainerVer {
    @extend .radioContainer;
    flex-direction: column;
}

.orderStatusBox {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.textMessage {
    @include black-text;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    margin: 32px 0 16px;
    @media screen and (min-width: 0px) and (max-width: 767px) {
        margin: 32px 16px 16px;
        justify-self: center;
        font-size: 12px;
        line-height: 14px;
        // display: none;
    }
}

.modalButton {
    @extend .formButton;
    margin: 16px 0 10px;
    border-radius: 8px;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        min-width: 287px;
        max-width: 287px;
    }
    @media screen and (min-width: 425px) and (max-width: 549px) {
        min-width: 75%;
        max-width: 75%;
    }
    @media screen and (min-width: 1024px) {
        display: none;
    }
    // flex: 0 1 1;
}
