@import "../../../Common/Page/Page.scss";

.filterBar {
    display: flex;
    flex-direction: row;
    // max-width: 55%;
    align-self: center;
    justify-content: space-between;
    margin: 0 auto 15px;
    min-width: 92%;
    max-width: 92%;

    @media screen and (min-width: 1441px) {
        min-width: 87%;
        max-width: 87%;
    }
    @media screen and (min-width: 1024px) and (max-width: 1280px) {
        min-width: 94%;
        max-width: 94%;
        margin: 0 auto 7px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        min-width: 690px;
        max-width: 690px;
        margin: 0 auto 7px;
    }
    @media screen and (min-width: 0px) and (max-width: 424px) {
        // flex-wrap: wrap;
        min-width: 100%;
        max-width: 100%;
        margin: 0 auto 7px;
    }
    @media screen and (min-width: 424px) and (max-width: 549px) {
        // flex-wrap: wrap;
        justify-content: center;
        min-width: 320px;
        max-width: 320px;
        margin: 0 0 7px;
    }
    @media screen and (min-width: 550px) and (max-width: 767px) {
        min-width: 95%;
        max-width: 95%;
        margin: 0 0 7px;
    }
}

.filterContainer {
    display: flex;
    flex-direction: row;
    align-self: center;
    @media screen and (min-width: 0px) and (max-width: 549px) {
        justify-content: center;
        // min-width: 99%;
        margin: 0 auto 0;
        // justify-content: space-between;
    }
    @media screen and (min-width: 550px) and (max-width: 767px) {
        justify-content: space-between;
    }
}

.formButtonContainer {
    display: flex;
    flex-direction: row;
    @media screen and (min-width: 0) and (max-width: 549px) {
        margin: 0 auto 0;
    }
}
.formButton {
    @include white-text;
    @include hover-with-opacity;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 0 10px 0 0;
    min-width: 95px;
    background: $BlueAdmin;
    border: none;
    cursor: pointer;
    // background-blend-mode: darken;
    border-radius: 6px;
    padding: 10px 12px;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
        min-width: 95px;
        font-size: 12px;
        line-height: 14px;
    }
    @media screen and (min-width: 0) and (max-width: 767px) {
        margin: 0 5px 0 0;
        min-width: 95px;
        font-size: 10px;
        line-height: 12px;
        display: none;
    }
}

.formButtonRed {
    @extend .formButton;
    margin: 0;
    background: #c4183c;
}

.formButtonImage {
    display: none;
    @media screen and (min-width: 0) and (max-width: 767px) {
        display: block;
        background: inherit;
        height: 100%;
        border: none;
        cursor: pointer;
        margin-right: 5px;
    }
    
}
