@import "../../Common/Page/Page.scss";
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.topContainer {
    position: sticky;
    padding-top: 32px;
    opacity: 1;
    top: 0;
    background: rgba(255, 255, 255, 1);
    // top: 32px;
    z-index: 1;

    // background-color: white;
    @media screen and (min-width: 0) and (max-width: 767px) {
        padding-top: 16px;
        opacity: 1;
        margin-top: 0;
        top: 0px;
        position: sticky;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding-top: 32px;
        opacity: 1;
        margin-top: 0;
        top: 0px;
        position: sticky;
    }
}

.formBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 64px 0;
    min-width: 1248px;
    max-width: 1248px;
    height: 100%;
    position: relative;

    @media screen and (min-width: 1441px) {
        margin: 0 auto 0;

        // min-width: calc(100vw - 64px - 64px);
        // max-width: calc(100vw - 64px - 64px);
    }

    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        margin: 0 32px 0;
        min-width: calc(100vw - 64px - 64px);
        max-width: calc(100vw - 64px - 64px);
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin: 0 32px 0;
        min-width: calc(100vw - 86px - 64px);
        justify-content: space-between;
        flex-direction: column;
    }
    @media screen and (min-width: 551px) and (max-width: 767px) {
        margin: 0 auto 0;
        flex-direction: column;
        min-width: calc(100vw - 32px);
        max-width: calc(100vw - 32px);
    }

    @media screen and (min-width: 0px) and (max-width: 550px) {
        margin: 0 auto 0;
        flex-direction: column;
        min-width: 100vw;
        max-width: 100vw;
    }
}
.formButton {
    @include white-text;
    @include hover-button;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    max-width: 287px;
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
    border: none;
    cursor: pointer;
    background-blend-mode: darken;
    border-radius: 8px;
    padding: 15px 11px;
    @media screen and (min-width: 0) and (max-width: 425px) {
        min-width: calc(100vw - 10px);
        border-radius: 0px;
        align-self: center;
        font-size: 12px;
        line-height: 14px;
        padding: 10px 6px;
    }
    @media screen and (min-width: 426px) and (max-width: 550px) {
        padding: 10px 6px;
        min-width: 100%;
        border-radius: 8px;
        margin: 0 16px 10px;
        align-self: center;
        font-size: 12px;
        line-height: 14px;
    }

    @media screen and (min-width: 551px) and (max-width: 767px) {
        min-width: 55%;
        align-self: center;
        font-size: 12px;
        line-height: 14px;
        margin: 0 16px 10px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        min-width: 100%;
    }
}

.modalButtonDisabled {
    display: none;
}
.modalButton {
    @extend .formButton;
    // margin: 16px 0 10px;
    border-radius: 8px;
    // z-index: 3;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        min-width: 287px;
        max-width: 287px;
        position: fixed;
        bottom: 15px;
        font-size: 14px;
        line-height: 16px;
    }
    @media screen and (min-width: 0) and (max-width: 767px) {
        min-width: 300px;
        max-width: 300px;
        position: fixed;
        bottom: 10px;
        margin: 0;
        padding: 10px 6px;
    }
    // @media screen and (min-width: 425px) and (max-width: 550px) {
    //     min-width: 95%;
    //     max-width: 95%;
    //     position: fixed;
    //     bottom: 10px;
    //     margin: 0;
    // }
    // @media screen and (min-width: 551px) and (max-width: 767px) {
    //     min-width: 65%;
    //     max-width: 65%;
    //     position: fixed;
    //     bottom: 10px;
    //     margin: 0;
    // }
    @media screen and (min-width: 1024px) {
        display: none;
    }
    // flex: 0 1 1;
}

.formWrapper {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        display: none;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.9);

        z-index: 3;
    }
}

.formWrapperActive {
    @extend .formWrapper;
    display: flex;
}
