@import "../../Common/Page/Page.scss";

.modelForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 0 0;
    // border-right: 1px solid #eeeeee;
   
    // min-width: 1248px;
    max-width: 800px;
    height: 100%;
    position: relative;

    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        // margin-top: 10px;
        margin: 0 auto 0 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        // margin: 0 16px 0;
        min-width: calc(100vw - 86px - 32px);
        justify-content: flex-start;
        flex-direction: column;
    }

    @media screen and (min-width: 550px) and (max-width: 767px) {
        padding: 0;
        min-width: calc(100vw - 32px);
        max-width: calc(100vw - 32px);
        flex-direction: column;
    }
    @media screen and (min-width: 0px) and (max-width: 549px) {
        padding: 0;
        flex-direction: column;
        // justify-content: center;
        min-width: 100vw;
        max-width: 100vw;
    }
}

.formButton {
    @include white-text;
    @include hover-button;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    max-width: 287px;
    background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
    border: none;
    cursor: pointer;
    background-blend-mode: darken;
    border-radius: 8px;
    padding: 15px 11px;
    @media screen and (min-width: 0) and (max-width: 425px) {
        min-width: calc(100vw - 10px);
        border-radius: 0px;
        align-self: center;
        font-size: 12px;
        line-height: 14px;
        padding: 10px 6px;
    }
    @media screen and (min-width: 426px) and (max-width: 549px) {
        padding: 10px 6px;
        min-width: 100%;
        border-radius: 8px;
        margin: 0 16px 10px;
        align-self: center;
        font-size: 12px;
        line-height: 14px;
    }

    @media screen and (min-width: 550px) and (max-width: 767px) {
        min-width: 55%;
        align-self: center;
        font-size: 12px;
        line-height: 14px;
        margin: 0 16px 10px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        min-width: 100%;
    }
}

.formButtonDisabled {
    @extend .formButton;
    // @include hover-with-opacity;
    background: #eeeeee;
    border-radius: 8px;
    cursor: default;
    &:hover {
        background: #eeeeee;
        opacity: inherit;
    }
}

.modelContainer {
    margin: 76px 0 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    align-content: flex-start;

    flex-wrap: wrap;
    // border-right: 1px solid #eeeeee;
    @media screen and (min-width: 550px) and (max-width: 767px) {
        margin: 0;
        justify-content: center;
        // align-self: center;
    }

    @media screen and (min-width: 0px) and (max-width: 549px) {
        margin: 16px 0;
        justify-content: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin: 0;
        // margin: 16px 0;
        justify-content: flex-start;
        max-width: 85%;
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        margin: 80px 0 0;
        // max-width: 90%;
    }
}

.modelFormList {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    @media screen and (min-width: 0px) and (max-width: 767px) {
        margin: 0 auto 0;
        max-width: 100%;
        border-right: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin: 0;
        // max-width: 90%;
    }
}

.checkboxContainer {
    position: fixed;
    min-width: 60%;
    max-width: 60%;
    padding: 26px 0 26px;
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
    background-color: white;
    opacity: 1;

    @media screen and (min-width: 0px) and (max-width: 425px) {
        position: sticky;
        top: 137px;
        margin-bottom: 0;
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
        padding: 10px 0 10px;
        // max-width: calc(100% - 16px);
    }

    @media screen and (min-width: 426px) and (max-width: 767px) {
        position: sticky;
        top: 141px;
        margin-bottom: 0;
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
        padding: 10px 0 10px;
        // max-width: 90%;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding: 10px 0 10px;
        position: sticky;
        top: 135px;
        margin-bottom: 16px;
        min-width: 100%;
        max-width: 100%;
    }
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        // margin-bottom: 17px;
        padding: 16px 0 16px;
    }
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    // justify-content: space-evenly;
    margin: 0;
    // padding: 10px 0 20px;

    // top: 250px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        margin: 0;
        padding: 10px 0 10px;
    }

    @media screen and (min-width: 0) and (max-width: 320px) {
        min-width: calc(100% - 16px);
        justify-content: center;
        margin: 0 auto 0;
    }
    @media screen and (min-width: 321px) and (max-width: 767px) {
        min-width: calc(100% - 16px);
        justify-content: center;
        margin: 0 auto 0;
    }
}

.orderStatusBox {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.textMessage {
    @include black-text;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    margin: 32px 0 16px;
    @media screen and (min-width: 0px) and (max-width: 767px) {
        margin: 32px 16px 16px;
        justify-self: center;
        font-size: 12px;
        line-height: 14px;
        // display: none;
    }
}
