@import "../../Common/Page/Page.scss";
.slider {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding: 0;

    @media screen and (min-width: 1024px) and (max-width: 1200px) {
        max-width: 410px;
        margin-left: auto;
    }

    @media screen and (min-width: 1201px) and (max-width: 1439px) {
        max-width: 608px;
        margin-left: auto;
    }
    @media screen and (min-width: 0) and (max-width: 1023px) {
        display: none;
    }
}

.content {
    height: 100%;
    display: flex;
}

.card {
    position: relative;
    transition: opacity 350ms;
    display: flex;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        mix-blend-mode: normal;
        opacity: 0.8;
        transition: opacity 0.1s ease 0s;
    }
}

.cardContainer {
    margin: 0 auto 120px;
    display: flex;
    flex-direction: column;
    align-self: center;

    z-index: 1;
    width: 495px;
    // @media screen and (min-width: 1441px) {

    // }
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
        width: 0;
        min-width: 282px;
        margin: 10px auto 0;
    }

    @media screen and (min-width: 1201px) and (max-width: 1439px) {
        width: 0;
        min-width: 400px;
        margin: 10px auto 0;
    }
}

.cardTitle {
    @include white-text;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin: 0;
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
    }
}

.cardText {
    @include white-text;
    margin: 8px 0 32px;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        font-weight: 300;
        font-size: 22px;
        line-height: 100%;
    }
}

.cardButton {
    @include white-text;
    @include hover-with-opacity-white;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border: none;
    cursor: pointer;
    max-width: 164px;
    border-radius: 4px;
    padding: 15px 11px;
    margin: 0;
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        padding: 13px 9px;
        max-width: 164px;
    }
}

.arrow {
    display: flex;
    background-color: inherit;
    border: none;
    cursor: pointer;
    height: 100%;
    padding: 0;
}
.arrowLeft {
    @extend .arrow;
    @include hover-arrow-button;
    position: absolute;
    left: 0%;
    top: 0%;
}

.arrowRight {
    @extend .arrow;
    @include hover-arrow-button;
    position: absolute;
    right: 0%;
    top: 0%;
}
.arrowImage {
    padding: 0 28px 0;
    align-self: center;
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        padding: 0 12px 0;
    }
}

.dotsContainer {
    position: absolute;
    bottom: 32px;
    display: flex;
    align-self: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
}

.dot {
    padding: 4px;
    margin-right: 8px;
    border-radius: 50%;
    background: white;
    &:last-of-type {
        margin-right: 0;
    }
}
.dotActive {
    @extend .dot;
    background: #0ec261;
}
