.adminFooter {
    display: flex;
    flex-direction: column;
}

.container {
    min-width: calc(100% - 52px);
    padding: 26px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px -0.5px 0px #d7dae3;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding: 20px 26px 20px;
    }

    @media screen and (min-width: 0px) and (max-width: 767px) {
        padding: 10px 10px 10px;
    }
}
.text {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    align-self: center;
    // margin-right: ;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 12px;
        line-height: 14px;
    }
    @media screen and (min-width: 0px) and (max-width: 549px) {
        font-size: 10px;
        line-height: 12px;
    }

    @media screen and (min-width: 550px) and (max-width: 767px) {
        font-size: 10px;
        line-height: 12px;
    }
}