.header {
    margin: 0 0 163px;
    padding: 0;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        margin: 0 16px 34px;
    }
    &__container {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            position: relative;
            flex-direction: column;
        }
    }

    &__button {
        display: none;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: inherit;
            cursor: pointer;
            border: none;
            padding: 0;
            max-width: 99%;
            :hover #outer {
                stroke: #0ec261;
            }
        }
    }

    &__title {
        @include green-text;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        margin: 0;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            align-self: flex-end;
            margin-bottom: 8px;
        }
    }

    &__location-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 95px;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            align-self: flex-end;
        }
    }
    &__location-image {
        width: 18px;
        height: 18px;
        align-self: center;
    }
    &__location-text {
        @include grey-text;
        align-self: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin: 0;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            font-weight: 400;
        }
    }
}
