.sidebar {
    position: relative;
    background-color: #151b1f;
    min-width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0 32px;
    overflow: hidden;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        min-width: 86px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        display: none;
    }
    // &_disabled {

    //     &:before {
    //         content: "";
    //         display: block;
    //         position: absolute;
    //         top: 0;
    //         bottom: 0;
    //         left: 0;
    //         right: 0;
    //         z-index: 1;
    //         background: #111518;
    //         transition: opacity 0.1s ease 0s;
    //         margin: 0;
    //         padding: 0;
    //     }
    // }

    // &__container {
    //     height: 100%;
    //     padding: 32px 0 32px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    // }

    &__button {
        background-color: inherit;
        cursor: pointer;
        border: none;
        padding: 0;
        max-width: 99%;
        :hover #outer {
            stroke: #0ec261;
        }
        &_green {
            @include green-text;
            @include hover-text-white;
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
        }
    }

    &__button-image {
        width: 32px;
        height: 32px;
        margin: auto;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 42px;
        }
    }
}
