@import "../Page/Page.scss";

.sidebar {
    position: relative;
    background-color: #151b1f;
    min-width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0 16px;
    overflow: hidden;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        min-width: 86px;
        padding: 32px 0 22px;
    }

    @media screen and (min-width: 0) and (max-width: 767px) {
        display: none;
    }
}

.button {
    background-color: inherit;

    cursor: pointer;
    border: none;
    padding: 0;
    max-width: 99%;
    @include hover-strokes;
    &:hover #outer {
        stroke: #0ec261;
    }
}

.buttonGreen {
    @extend .button;
    @include hover-circle;
    @include green-text;
    // @include hover-text-white;
    align-self: center;
    width: 48px;
    height: 48px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
}

.buttonImage {
    width: 32px;
    height: 32px;
    margin: auto;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 42px;
    }
    :hover path {
        stroke: #0ec261;
    }
}
