@import "../Page/Page.scss";
.navbar {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.link {
    @include white-text;
    @include hover-text-green;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: left;
    align-self: flex-start;
    margin-bottom: 15px;
    text-decoration: none;
    &:last-of-type {
        // margin-right: 0;
        margin-bottom: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
    }
    @media screen and (min-width: 0) and (max-width: 767px) {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
    }
}

.linkImage {
    width: 32px;
    height: 32px;
    :hover path {
        fill: #0ec261;
    }
    :last-of-type {
        margin-right: 0;
        margin-bottom: 0;
    }
}

.horizontalNavbar {
    @extend .navbar;
    flex-direction: row;
    margin-top: 38px;
}

.formNavbar {
    @extend .horizontalNavbar;
    padding: 8px 64px 8px;
    margin: 40px 0 0 -64px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    min-width: calc(100vw - 64px - 128px);
}

.horizontalLink {
    @extend .link;
    margin-bottom: 0px;
    margin-right: 24px;
    font-size: 0px;
    line-height: 0px;
}

.formLink {
    @include hover-with-opacity;
    text-decoration: none;
    color: black;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.formLinkActive {
    @extend .formLink;
    color: #0ec261;

}

.formLinkDisabled {
    @extend .formLink;
    color: #999999;
    pointer-events: none;
    // &:visited {
    //     color: black;
    // }
}

.navArrow {
    margin: 0 16px 0;
    &:last-of-type {
        display: none;
    }
}
