.priceContainer {
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    @media screen and (min-width: 0px) and (max-width: 767px) {
        margin-bottom: 15px;
        align-self: center;

    }
}

.price {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    align-self: center;
    margin: 0 1px 0 0;
    @media screen and (min-width: 0px) and (max-width: 320px) {
        font-size: 10px;
        line-height: 12px;
    }

    @media screen and (min-width: 321px) and (max-width: 767px) {
        font-size: 12px;
        line-height: 14px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 14px;
        line-height: 16px;
    }
}

.priceTitle {
    @extend .price;
    font-weight: 500;
    margin-right: 5px;
}
