@import "../../../Common/Page/Page.scss";

.cardContainer {
    width: calc(366px - 32px);
    height: calc(224px - 32px);
    display: flex;
    flex-direction: column;
    border: 1px solid #eeeeee;
    padding: 16px;
    justify-content: space-between;
    cursor: pointer;
    // box-sizing: border-box;
    @media screen and (min-width: 0) and (max-width: 767px) {
        align-self: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: calc(266px - 32px);
        height: calc(174px - 32px);
    }
    @media screen and (min-width: 1023px) and (max-width: 1280px) {
        width: calc(276px - 32px);
        height: calc(154px - 32px);
    }
}

.cardContainerActive {
    @extend .cardContainer;
    border: 1px solid #0ec261;
}

.textContainer {
    padding: 0;
    margin: 0;
}

.cardImageContainer {
    align-self: flex-end;
}

.cardImage {
    width: 256px;
    height: 116px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 200px;
        height: 80px;
    }
    @media screen and (min-width: 1023px) and (max-width: 1280px) {
        width: 200px;
        height: 80px;
    }
}

.cardModelText {
    @include black-text;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.cardPriceText {
    color: #999999;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
